VITE_API_BASE_URL="http://localhost:3000/api"
VITE_APP_WEB_URL="https://app.medneeds.com.br"
VITE_APP_WEB_CLOUD_URL="https://medneedsapp.cloud"
VITE_WHATSAPP_SUPPORT_URL="https://wa.me/559891169576"
VITE_BANNER_FORM_URL="https://forms.gle/uc6YMfhunZnp66sH9"
